*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-45deg,rgb(238, 53, 167),rgb(6, 205, 231)) no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Satisfy', cursive;
    text-align: center;
    text-transform: capitalize;
    margin-top: 60px;
    font-size: 45px;
    color: rgb(53, 49, 49);
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}
.working{
    width: 200px;
    height: 90px;
    border-radius: 16px;
    background-color: rgb(142, 200, 214);
    border: 6px solid rgb(89, 1, 92);
    color: rgb(89, 1, 92);
    text-align: center;
    line-height: 90px;
    font-size: 46px;  
    margin: 100px auto 100px auto;
}
.clear-fix{
    clear: both;
} 
.container{
    margin: auto;
    width: 50%;
}
.start,.break,.reset{
    float: left;
    width: 33.333%;
    z-index: 11;
    position: relative;
    top: 20px;
    left: 85px;
}
button{
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    box-shadow: 3px 3px 0px rgba(67, 156, 190, 0.3);
    color: white;
    background: linear-gradient(60deg,rgb(179, 7, 113),rgb(2, 54, 151));
    transition-duration: 0.3s;
    cursor: pointer;   
}
button:hover,button:active{
    transform: scale(1.1);
    border: none;
}

.footer{
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    color: rgb(48, 46, 46);
    margin: 80px auto 0px auto;
}
@media (max-width: 767px){
    .container{
        width: 80%;
        position: absolute;
        top: 58%;
        right: 25%;
    }
    button{
        width: 90px;
        height: 90px;
        font-size: 16px;
    }
    .footer{
        position: absolute;
        top: 75%;
        left: 30%;
    }
    
}
